div {
    width: 100%;
}

div li:hover {
    background: black;
}

div li:hover a {
    color: white
}

ul {
    display: flex;
    justify-content: center;
}

li {
    display: block;
    padding: 20px;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black
}

h1,
h3,
p {
    padding-left: 25vw;
}

p {
    width: 50%;
}